In [2]:
import pandas as pd 
import numpy as np

data=pd.read_csv('student_clustering.csv')
data.head()

   cgpa1  iq1  cgpa2     iq2
0   5.13   88   9.13    9.13
1   5.90  113   5.88  110.00
2   8.36   93   5.01   86.00
3   8.27   97   4.95   88.00
4   5.45  110   8.91  119.00

In [8]:
import scipy.stats as stats

#perform one sample t-test
stats.ttest_1samp(a=data['iq1'], popmean=0)

Ttest_1sampResult(statistic=86.9131164319406, pvalue=2.7566314673079134e-95)

In [9]:
#find variance for each group
print(np.var(data['iq1']), np.var(data['iq2']))

137.82750000000004 237.17015731000015

In [10]:
import scipy.stats as stats

#perform two sample t-test with equal variances
stats.ttest_ind(a=data['iq1'], b=data['iq2'], equal_var=True)

Ttest_indResult(statistic=1.1297160435999167, pvalue=0.25996263189258456)

In [11]:
import scipy.stats as stats

#perform the paired samples t-test
stats.ttest_rel(data['iq1'], data['iq2'])

Ttest_relResult(statistic=1.20867991163973, pvalue=0.22966480723276914)